doctype html
html(lang="ko")
    head
        title Wetube Challenge
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        nav 
            ul
                li
                    a(href="/") Home 
                li 
                    a(href="/upload") Add
        main
            block content

    