form(action="/filter" method="POST")
        input(placeholder="Filter by year", name="year") 
        input(placeholder="Filter by rating", name="rating") 
        button#searchBtn(type="submit") Search